[user]
	email = andy.meneely@gmail.com
	name = Andy Meneely
[alias]
    	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

